# Python bytecode files
__pycache__/
*.py[cod]

# Virtual environment folders
venv/
env/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit cache
.streamlit/

# VSCode settings
.vscode/

# IDEs & editors
.idea/
*.swp
*.swo
*.swn

# Python distribution / packaging
*.egg-info/
dist/
build/
*.egg

# Logs
*.log

# Configuration files
*.ini
*.json

# Dependency directories
node_modules/
